/*Pagination*/
.pagination {
    display: flex;
    margin: 191px;
    justify-content: space-around;
    font-family: var(--main-font); 
}

.pagination-title {
    display: flex;
    font-size: 36px;
    font-weight: 500;
    line-height: 42px;
    text-align: left;
    color: var(--text-primary);
}

.pagination-text {
    display: flex;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--text-primary);
}

.pagination-item1-title:hover {
    color: var(--primary-main);
}

.pagination-item2-title:hover {
    color: var(--primary-main);
}

.pagination-item3-title:hover {
    color: var(--primary-main);
}

/*/Pagination*/
