.body{
  height: 5295px;
  max-width: 1440px;
  background: #FFFFFF;
  font-family: 'Roboto', 'Roboto Condenced', sans-serif;
}
.header-menu{
  position: absolute;
  width: 1211px;
  height: 100px;
  left: 112px;
  top: 0px;
}
.header-menu-container{
  position: absolute;
  width: 1211px;
  height: 50px;
  left: 0px;
  top: 25px;
}

.logo{
  position: absolute;
  left: 1.46%;
  right: 0;
  top: 4%;
  bottom: 2%;
  height: 47px;
  width: 135px;
  border-radius: 0;

}
.logo-text{
  position: absolute;
  height: 28px;
  left: 40%;
  right: 0;
  top: calc(50% - 28px/2 - 0.5px);
  font-style: normal;
  font-family: Roboto, serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}
.logo-image{
  position: absolute;
  left: 0.32%;
  right: 66.19%;
  top: 0.93%;
  bottom: 0.11%;
}
.header-container{
  position: absolute;
  height: 39px;
  width: 1010px;
  left: 10.6%;
  right: 0;
}
.pages{
  position: absolute;
  font-size: 18px;
  font-weight: 500;
  font-family: Roboto, serif;
  line-height: 21px;
  letter-spacing: 0;
  text-align: center;
  list-style-type: none;
  color: #000000DE;

}
.hyperlink{
  text-decoration: none;
  color: #000000DE;
  margin-left: 35px;
}
@media (min-width: 767px){
   .pages{
     display: flex;
     }
     .pages > li{
       text-align: center;
   }
}
.options{
   position: absolute;
   height: 39px;
   width: 297px;
   left: 690px;
   top: 10px;
   border-radius: 0;

 }
.android-settings{
  position: absolute;
  width: 29px;
  height: 29px;
  left: 268px;
  top: 0;
}
.gear {
  position: absolute;
    top: 12.82%;
    bottom: 12.82%;
}
.rectangle{
  position: absolute;
  width: 997.98px;
  height: 931.45px;
  left: 738px;
  top: -320px;

  background: #B2EBF2;
  border-radius: 120px;
  transform: rotate(-132deg);
  z-index: -10;
}
.mask{
  position: absolute;
  width: 1007.17px;
  height: 942.8px;
  left: 744px;
  top: -390px;
  z-index: -10;

  background: #BBDEFB;
  border-radius: 120px;
  transform: rotate(-132deg);
}
.line{
  position: absolute;
  left: 80.81%;
  right: 18.52%;
  top: 17.95%;
  bottom: 17.95%;
  width: 2px;
  background-color: #979797;
}
.button-login{
  position: absolute;
  height: 19px;
  left: 0%;
  right: 81.82%;
  top: calc(50% - 19px/2);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-decoration: none;
  text-transform: uppercase;

  color: #302F2F;
}
.button-register{
  position: absolute;
  left: 28.96%;
  right: 28.96%;
  top: 0%;
  bottom: 0%;
  background-color: #2196F3;
  border: none;
  border-radius: 6px;
  text-transform: uppercase;
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
}
/*Banner left*/

.banner-left{
  position: absolute;
  width: 1838px;
  height: 1424px;
  left: 112px;
  top: -617px;
  z-index: -5;
}
.text-container{
  position: absolute;
  width: 596px;
  height: 233px;
  left: 112px;
  top: 220px;
  z-index: 5;
}
.text-title{
  position: absolute;
  height: 64px;
  width: 596px;
  top:-55px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */
  color: rgba(0, 0, 0, 0.87);
  z-index: 5;
}
.text{
  position: absolute;
  width: 557px;
  height: 72px;
  left: 0px;
  top: 70px;
  text-align: left;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  /* or 150% */
  color: rgba(0, 0, 0, 0.87);
  z-index: 5;
}

.write-to-us-button{
  display: flex;
  position: absolute;
  top: 175px;
  box-sizing: border-box;
  height: 50px;
  width: 211px;
  border: 1px solid #00BCD4;
  box-shadow: 0px 3px 24px 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  background: #FFFFFF;
  z-index: 5;
}
.write-to-us-text{
  position: absolute;
  height: 19px;
  left: 50px;
  top: calc(50% - 19px/2);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0px;
  color: #00BCD4;
  text-transform: uppercase;
  z-index: 5;
}
.pagination{
  position: absolute;
  width: 1058px;
  height: 89px;
  /*left: 191px;*/
  top: 652px;

}
.pag-first-item{
  position: absolute;
  width: 327px;
  height: 89px;
  left: 191px;
  /*top: 652px;*/
}
.pag-line1{
  position: absolute;
  width: 1px;
  height: 63px;
  left: 537px;
  /*top: 664px;*/
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.pag-second-item{
  position: absolute;
  width: 309px;
  height: 74px;
  left: 571px;
  /*top: 652px;*/
}
.pag-line2{
  position: absolute;
  width: 1px;
  height: 63px;
  left: 889px;
  /*top: 664px;*/
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.pag-third-item{
  position: absolute;
  width: 326px;
  height: 74px;
  left: 923px;
  /*top: 652px;*/
}
/*About us*/
/*.about-us{
  position: absolute;
  width: 1344px;
  height: 654px;
  left: -16px;
  top: 807px;
}*/
.artwork-about-us{
  position: absolute;
  width: 654px;
  height: 654px;
  left: -16px;
  top: 807px;
}
.title-with-deco{
  position: absolute;
  width: 297px;
  height: 296px;
  left: 100px;
  top: 934px;
}
.about-us-title{
  position: absolute;
  height: 128px;
  left: 27.27%;
  right: 0%;
  top: calc(50% - 128px/2);

  font-family: 'RobotoCondensed';
  font-size: 52px;
  line-height: 64px;
  color: #FFFFFF;
}
.rectangle-about-us{
  position: absolute;
  left: 46.51%;
  right: -15.53%;
  top: 99.84%;
  bottom: -71.63%;

  background: #2196F3;
  border-radius: 32px;
  transform: rotate(-132deg);
}
.rectangle-background-main{
  position: absolute;
  width: 654px;
  height: 654px;
  left: -16px;
  top: 807px;

  background: #2196F3;
  mix-blend-mode: normal;
  opacity: 0.1;
  border-radius: 60px;
  transform: rotate(-132deg);
}
/* /About us*/
