.client-testimonials__container{
    width: 100%;
    height: 100%;
    position: relative;
    /* overflow: hidden; */
}
 .client-testimonials__background{
    width: 100%;
    height: 627px;
    background-color: #f1f8fe; 
    mix-blend-mode: normal;
    padding: 0 20px;
}
.client-testimonials__first-row{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.client-testimonials__title{
    margin-top: 50px;
    margin-left: 100px;
}
.client-testimonials__carousel-container{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}
.client-testimonials__slider-column{
    background-color: var(--main-background-color);
    width: 258px;
    height: 253px;
    box-shadow: 0px 3px 24px 4px rgba(0, 0, 0, 0.06);
    border-radius: 50px 50px 50px 0px;
    margin: 0 10px;
    position: relative;
}
.client-testimonials__paragraph{
    margin: 33px 24px;
}
.client-testimonials__slider-stars img{
    position: relative;
    width: 150px;
    height: 24px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin-left: 24px;
}
.client-testimonials__column-person-container{
    margin-top: 55px;
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
    /* flex-wrap: wrap; */
}
.client-testimonials__column-photo{
    width: 59px;
    height: 59px;
    overflow: hidden;
    border: 4px solid #FFFFFF;
    box-shadow: 0px 3px 49px 9px rgba(0, 0, 0, 0.06);
    border-radius: 50%;
}
.client-testimonials__column-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.client-testimonials__column-person-name {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}
.client-testimonials__column-person-position {  
    font-family: Roboto;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    color: #0000008A
}
.client-testimonials__column-photo-second img{
    width: 96%;
    height: 97%;
    object-fit: cover;
    object-position: bottom -20px left 0.2px;
    border-radius: 50%;
}
.client-testimonials__column-photo-third img{
    width: 130%;
    height: 130%;
    object-fit: cover;
    object-position: right -8px bottom 1px;
}
.client-testimonials__column-photo-fourth img{
    width: 130%;
    height: 130%;
    object-fit: cover;
    object-position: right -9px bottom 1px;
}
.client-testimonials__artwork-recrtangle-container{
    position: absolute;
    height: 811px;
    width: 1000px;
    right: -550px;
    top: 60px;
}
.client-testimonials__artwork-recrtangle{
    width: 750px;
    height: 550px;
    background-color: white;
    border-right: 40px solid #b1eaf1;
    border-top: 40px solid #b1eaf1;
    mix-blend-mode: normal;
    opacity: 0.9;
    border-radius: 60px;
    transform: rotate(-132deg);
    overflow: hidden;
}
.client-testimonials__artwork-recrtangle img{
    transform: rotate(132deg);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top -50px left 70px;
    background-color: white;
}
.client-testimonials__slider-buttons-container {
    margin: 140px auto 5px;
    display: flex;
    justify-content: space-between;
    max-width: 170px;
}
.client-testimonials__slider-button-1 {
}
.client-testimonials__slider-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #b2ebf2;
}
.client-testimonials__slider-button-2 {
}
.client-testimonials__slider-button-3 {
}
.client-testimonials__slider-button-4 {
}
.client-testimonials__slider-button-5 {
}
.client-testimonials__slider-button-6 {
}