.logos-dummy {
    /* padding: 0 60px; */
}
.logos-dummy__container {
    max-width: 886px;
    display: flex;
    justify-content: space-between;
    margin: 150px auto;
}
.logos-dummy__container img{
    width: 66px;
    height: 66px;
}