.our-values__container {
    margin-top: 90px;
    background-color: white;
    display: flex;
}
.our-values__artwork-container {
    position: relative;
    width: 636px;
    height: 636px;
    margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-values__icon-group {
    position: absolute;
    z-index: 6;
}
.pin-icon-group {
    bottom: 25px;
    right: 95px;
    width: calc(104px+10%);
    height: calc(104px+10%);
}
.star-icon-group {
    width: calc(46px+10%);
    height: calc(46px+10%);
    right: 25px;
    top: 150px;
}
.camera-icon-group {
    width: calc(104px+10%);
    height: calc(104px+10%);
    left: 30px;
    top: 20px;
}
.letter-icon-group {
    width: calc(32px+10%);
    height: calc(32px+10%);
    top: 80px;
    right: 100px;
}
.load-icon-group {
    width: calc(46px+10%);
    height: calc(46px+10%);
    bottom: 50px;
    left: 20px;
}
.radio-waves-icon-group {
    width: calc(62px+10%);
    height: calc(62px+10%);
    bottom: 135px;
    left: 100px;
}
.youtube-icon-group {
    width: calc(91px+10%);
    height: calc(91px+10%);
    top: -50px;
    right: 200px;
}
.our-values__the-biggest-ractangle {
    width: 449.8px;
    height: 449.8px;
    border: 2px solid #BBDEFB;
    border-radius: 70px;
    transform: rotate(-132deg);
}
.our-values__medium-rectangle {
    /* position: absolute; */
    width: 383px;
    height: 383px;
    border: 2px solid #BBDEFB;
    border-radius: 70px;
    transform: rotate(0deg);
    margin-top: 40px;
    margin-left: 20px;
}
.our-values__small-rectangle {
    width: 307px;
    height: 307px;
    background: #BBDEFB;
    border-radius: 50px;
    transform: rotate(0deg);
    margin-top: 50px;
    margin-left: 20px;
}
.our-values__the-main-rectangle {
  height: 212px;
  width: 205px;
    position: absolute;
  background: #2196f3;
  border-radius: 32px;
  transform: rotate(-1deg);
  margin-top: 70px; 
  margin-left: 20px;
}
.our-values__artwork-text {
    font-family: var(--second-font);
    font-size: 52px;
    line-height: 64px;
    color: var(--main-background-color);
    transform: rotate(132deg);
    position: absolute;
    height: 98px;
    /* left: 30%;
    top: calc(50% - 98px / 2); */
    margin-top: 100px;
    margin-right: 20px;
    align-content: center;
    text-transform: capitalize;
}
.our-values__text-container {
    margin-left: 100px;
    margin-top: 20px;
}
.our-values__subtitle-container {
    height: 39px;
    width: 612px;
    margin-bottom: 10px;
}
.our-values__paragraph-container {
    width: 592px;
    height: 72px;
    margin-top: 16px;
}
.our-values__columns-container {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 20px;
}
.our-values__column-container {
    width: 286px;
}
.our-values__column-icon-container {
    width: 34px;
    height: 34px;
    border-radius: 6px;
    transform: rotate(-132deg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.our-values__column-icon-container img{
    transform: rotate(132deg);
    width: 24px;
    height: 24px;
}
.our-values__column-icon-container-third img{
    transform: rotate(132deg);
    width: 24px;
    height: 17px;
}
.our-values__column-icon-container-first{
    background-color: #BBDEFB;
}
.our-values__column-icon-container-second{
    background-color: #B2EBF2;
}
.our-values__column-icon-container-third{
    background-color: #EDE7F6;
}
.our-values__column-icon-container-fourth{
    background-color: #FBEABB;
}
.our-values__column-paragraph{
    margin-top: 10px;
}