.about-us__container{}
.about-us__artwork-container{
    width: 654px;
    height: 654px;
    margin-left: -16px;
    border: 3px solid salmon;
}
.about-us__artwork-background-small-rectangle{
    position: absolute;
    width: 340px;
    height: 340px;
   
    background: #00BCD4;
    mix-blend-mode: normal;
    opacity: 0.05;
    border-radius: 37px;
    transform: rotate(-132deg);
}
.about-us__artwork-background-big-rectangle{
    position: absolute;
    width: 654px;
    height: 654px;

    background: #2196F3;
    mix-blend-mode: normal;
    opacity: 0.1;
    border-radius: 60px;
    transform: rotate(-132deg);
}
.about-us__artwork-title{
    position: absolute;
    height: 212px;
    width: 205px;
    
    background: #2196F3;
    border-radius: 32px;
    transform: rotate(-132deg);
}

.about-us__artwork-photo-people-wrapper {
    max-width: 295px;
    height: auto;
}

.about-us__artwork-photo-people {
    margin: 25px auto 45px auto;
    transform: rotate(45deg);
    max-width: 152px;
    height: 152px;
    overflow: hidden;
    border-radius: 15px;
}
.artwork-photo-people{
    position: absolute;
    transform: rotate(-45deg) scale(0.7);
    width: 200%;
    left: -50%;
    top: -50%;
}
.about-us__artwork-transparent-rectangle{}
.about-us__artwork-photo-building{}
