.about-us__container {
 display: flex;
 justify-content: space-between;
 background-color: white;
}
.about-us__artwork-container {
  position: relative;
  width: 475px;
  height: 475px;
  margin-left: 90px;
}
.about-us__artwork-background-small-rectangle {
  position: absolute;
  width: 247px;
  height: 247px;

  background: #00bcd4;
  mix-blend-mode: normal;
  opacity: 0.05;
  border-radius: 37px;
  transform: rotate(-132deg);
  top: -10%;
}
.about-us__artwork-background-big-rectangle {
  position: absolute;
  width: 473px;
  height: 473px;

  background: #2196f3;
  mix-blend-mode: normal;
  opacity: 0.1;
  border-radius: 60px;
  transform: rotate(-132deg);
}
.about-us__artwork-title {
  position: absolute;
  height: 153px;
  width: 148px;
  background: #2196f3;
  border-radius: 32px;
  transform: rotate(-132deg);
  top: 128px;
  left: 116px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.about-us__artwork-title-text {
  font-family: var(--second-font);
  font-size: 44px;
  line-height: 54px;
  color: var(--main-background-color);
  transform: rotate(132deg);
  height: 98px;
  align-content: center;
  margin-top: 45px;
  margin-right: 15px;
}
.about-us__artwork-photo-people-wrapper {
  position: absolute;
  width: 214px;
  height: 214px;
  left: 310px;
}
.about-us__artwork-photo-people {
  margin: 25px auto 45px auto;
  transform: rotate(45deg);
  width: 123px;
  height: 123px;
  overflow: hidden;
  border-radius: 15px;
}
.about-us__artwork-photo-people img {
  position: absolute;
  transform: rotate(-45deg) scale(0.7);
  width: 200%;
  left: -50%;
  top: -50%;
}
.about-us__artwork-transparent-rectangle {
  position: absolute;
  width: 57px;
  height: 57px;
  box-sizing: border-box;
  border: 7px solid #bbdefb;
  transform: rotate(-132deg);
  border-radius: 15px;
  left: 445px;
  top: 45%;
}
.about-us__artwork-photo-building-wrapper {
  position: absolute;
  width: 233px;
  height: 233px;
  left: 280px;
  top: 300px;
}
.about-us__artwork-photo-building {
  margin: 25px auto 45px auto;
  transform: rotate(45deg);
  width: 123px;
  height: 123px;
  overflow: hidden;
  border-radius: 15px;
}
.about-us__artwork-photo-building-wrapper img {
  position: absolute;
  transform: rotate(-45deg) scale(0.7);
  width: 200%;
  left: -50%;
  top: -50%;
}
.about-us__text-container {
  color: var(--main-font-color);
  display: block;
  font-family: var(--main-font);
}
.about-us__main-text-container {
  max-width: 546px;
  margin-right: 161px;
}
.about-us__paragraph-container {
  max-width: 595px;
  margin: 16px 112px auto auto;
}
.about-us__counter-container {
  display: flex;
  margin: 33px 161px 0 10px;
  justify-content: space-between; 
  gap: 30px;
}
.first-counter .about-us__counter-text{
  margin: 10px 5px;
}
.about-us__counter-column {
  height: 164px;
  max-width: 100px;
}
.about-us__counter-number {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  margin: 10px auto;
}
.about-us__counter-rectangle {
  background-color: var(--second-color);
  height: 11.5px;
  width: 68.5px;
  border-radius: 18.5px;
  margin: 25px 30px;
}
.about-us__counter-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  margin: 10px 15px;
}
