.header-menu {
    display: flex;
    max-width: 1211px;
    height: 100px;
    margin: 0 auto;
    align-items: center;
    z-index: 10;
}

.header-menu-container {
    display: flex;
    width: 1211px;
    height: 50px;
    margin: 0 auto;
}

.logo {
    display: flex;
    height: 47px;
    width: 135px;
    align-items: center;
    justify-content: space-between;
}

.logo-text {
    height: 28px;
    font-style: normal;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
}

.logo-image {
    display: flex;
}

.header-container {
    display: flex;
    height: 39px;
    width: 1010px;
    margin-top: 15px;
}

.pages {
    display: flex;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--main-font);
    line-height: 21px;
    letter-spacing: 0;
    list-style-type: none;
}

.hyperlink {
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    color: var(--header-font-color);
    margin-left: 35px;
    transition: color 0.1s linear;

}

.hyperlink:hover {
    color: var(--second-color);
}

.options {
    display: flex;
    height: 39px;
    width: 350px;
    align-items: center;
    margin: 0 auto;
    margin-top: 7px;
    justify-content: space-between;
}

.android-settings {
    display: flex;
    width: 29px;
    height: 29px;
}

.line {
    display: flex;
    width: 2px;
    height: 25px;
    background-color: #979797;
    border: 1px solid #979797;
}

.button-login {
    height: 19px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    text-transform: uppercase;
    color: #302F2F;
}

.button-register {
    display: flex;
    width: 125px;
    height: 39px;
    justify-content: center;
    align-items: center;
    background-color: var(--second-color);
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    color: white;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}
